<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="com.jsen.basic.Person">
        <property name="name" value="sen"/>
        <property name="age" value="26"/>
        <property name="emails">
            <list>
                <value>stuffs</value>
                <value>affairs</value>
            </list>
        </property>
        <property name="tels">
            <set>
                <value>13245316960</value>
                <value>17898989989</value>
            </set>
        </property>
        <property name="address">
            <list>
                <value>北京</value>
                <value>上海</value>
                <value>山东</value>
            </list>
        </property>
        <property name="qqs">
            <map>
                <entry value="7987897238748923" key="小名"/>
                <entry value="7987897238748923" key="大名"/>
            </map>
        </property>
        <property name="p">
            <props>
                <prop key="key1">key1</prop>
                <prop key="key2">key2</prop>
            </props>
        </property>
        <property name="personDao" ref="persondaoImpl"/>
    </bean>
    <bean id="user" class="com.jsen.basic.User"/>
    <bean name="user2" class="com.jsen.basic.User"/>
    <bean id="persondaoImpl" class="com.jsen.basic.PersonDaoImpl">
    </bean>

    <!-- 返回的对象 是 com.jsen.factorybean.MySqlConnectionFactoryBean 中 getObject() 的返回值
         不是 MySqlConnectionFactoryBean 对象 -->
    <bean class="com.jsen.factorybean.MySqlConnectionFactoryBean" id="connection"/>

    <!-- 如果 想返回 MySqlConnectionFactoryBean 对象  需要这样写-->
<!--    <bean class="com.jsen.factorybean.MySqlConnectionFactoryBean" id="&connection"/>-->

</beans>